body{
background:#0a0000;
color:white;
text-align:center;
font-family:Arial;
}

.logo{
width:200px;
margin-top:50px;
}

button{
background:red;
border:none;
padding:15px;
color:white;
font-size:18px;
border-radius:10px;
margin-top:20px;
}
