body{
  margin:0;
  font-family:Arial;
  background:#0b0000;
  color:#fff;
  text-align:center;
}

.logo{
  width:150px;
  margin-top:20px;
}

.btn{
  background:red;
  color:white;
  border:none;
  padding:10px;
  margin:5px;
  border-radius:5px;
}

.card{
  background:#1a0000;
  padding:20px;
  margin:10px;
  border-radius:10px;
}
